$one-square: 1in;
$two-square: 1.9in;
$two-half-square: 2.5in;
$three-square: 3in;
$gargantuan-height: 3.5in;
$four-square: 4in;
$fold-border: 1pt solid #e4e4e4;
$cut-border: 1pt solid #c1c1c1;
html,
body {
    width: 210mm;
    height: 297mm;
}

#pawn-table {
    td.pawn-image img {
        max-width: 100px;
    }
}

#pawns-to-print {
    display: none;
    .pawn-container {
        border: $cut-border !important;
        display: inline-block;
        margin: 0 2mm;
        .base {
            position: relative;
        }
        .pawn {
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                height: 85%;
                width: auto;
                z-index: -999;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        .back {
            .pawn {
                border-bottom: $fold-border !important;
                img {
                    -ms-transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
                    -webkit-transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
                    transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
                }
            }
            .base {
                border-bottom: $fold-border !important;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    bottom: 0;
                    width: 50%;
                    right: 0;
                    border-top: $cut-border !important;
                }
            }
        }
        .front {
            .pawn {
                img {
                    bottom: 5px;
                    position: absolute;
                }
            }
            .base {
                border-top: $fold-border !important;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    bottom: 0;
                    width: 50%;
                    left: 0;
                    border-top: $cut-border !important;
                }
            }
        }
        &.tiny {
            .pawn {
                width: $one-square;
                height: $one-square;
            }
            .base {
                width: $one-square;
                height: $one-square;
            }
        }
        &.small {
            .pawn {
                width: $one-square;
                height: $two-square;
            }
            .base {
                width: $one-square;
                height: $one-square;
            }
        }
        &.medium {
            .pawn {
                width: $one-square;
                height: $two-square;
            }
            .base {
                width: $one-square;
                height: $one-square;
            }
        }
        &.large {
            .pawn {
                width: $two-square;
                height: $two-square;
            }
            .base {
                width: $two-square;
                height: $two-square;
            }
        }
        &.huge {
            .pawn {
                width: $three-square;
                height: $two-half-square;
            }
            .base {
                width: $three-square;
                height: $three-square;
            }
        }
        &.gargantuan {
            .front {
                overflow: hidden;
                float: left;
                .base {
                    &:after {
                        top: $gargantuan-height/3;
                        height: $gargantuan-height/3;
                        border-bottom: $cut-border !important;
                    }
                }
            }
            .back {
                overflow: hidden;
                float: left;
                border-right: 1pt solid #c1c1c1 !important;
                .base {
                    &:after {
                        top: $gargantuan-height/3;
                        height: $gargantuan-height/3;
                        border-bottom: $cut-border !important;
                    }
                }
                .pawn {
                    border-bottom: none !important;
                }
            }
            .pawn {
                width: $four-square;
                height: $gargantuan-height;
            }
            .base {
                width: $four-square;
                height: $gargantuan-height;
            }
        }
    }
}

page[size="A4"] {
    background: white;
    width: 210mm;
    height: 297mm;
    display: block;
}

@page {
    margin: 0.25in;
}

@media print {
    body {
        margin: 0;
        width: 210mm;
        height: auto;
        page-break-after: auto;
    }
    pre {
        white-space: pre-wrap;
    }
    div{
        page-break-before: auto;
        page-break-after: auto; 
        page-break-inside: avoid;
    }
    #uploader {
        display: none;
    }
    #pawn-table {
        display: none;
    }
    #action-container {
        display: none;
    }
    .pawn-container {
        page-break-inside: avoid;
        position: relative;
    }
    #pawns-to-print {
        display: inline;
        page-break-inside: avoid;
        position: relative;
        .pawn-container {
            .pawn {
                img {
                    z-index: -999;
                }
            }
        }
    }
}